
/* styles.css */

body {
    display: flex;
    margin: 0;
    height: 100vh; /* Toda la altura de la pantalla */
}

.sidebar {
    width: 250px; /* Ancho fijo */
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed; /* Se mantiene fija */
    height: 100vh; /* Toda la altura de la pantalla */
}

.main-content {
    margin-left: 250px; /* Para no solaparse con la barra lateral */
    flex-grow: 1; /* Se expande ocupando el espacio restante */
    padding: 20px;
    background-color: #f4f4f4;
}
